.formMainDiv{
    width : 80%;
    border : 1px;
    border-style: solid;
    border-color: blue;
    margin : auto;
    padding : 15px;
    background-color: rgb(228, 245, 251);
    border-width : 3px
}

.formMainDiv h1{
    margin-left: 30%;
    margin-bottom: 3%;
    color: blue;
}

.formMainDiv h3{
    margin-left: 38%;
    margin-bottom: 3%;
    margin-top: 5%;
    color: blue;
}

.handleForm{
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.handleForm label {
    font-weight: bold;
    color: blue;
    font-size: 20px;
    margin-right: 2%;
}

.handleForm select{
    padding: 0.5%;
    width: 30%;
    color: blue;
}

.info{
    margin-left: 10%;
    color: blue;
    font-size: 17px;
}

.info span{
    font-weight: bold;
}